In [10]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import os

In [11]:
df = pd.read_csv(os.path.join("Temperature_Dataset1.csv"))

In [12]:
df.head()

   Unnamed: 0           City        Date  Temperature
0           0  Asheville, NC  2020-01-01          3.8
1           1  Asheville, NC  2020-01-02          3.8
2           2  Asheville, NC  2020-01-03         10.8
3           3  Asheville, NC  2020-01-04          8.2
4           4  Asheville, NC  2020-01-05          1.9