In [1]:
import pandas as pd

In [2]:
NewYorkOriginal = pd.read_csv('../Resources/New York.csv')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,100,30,48,2019-11-04,0.35,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,73,1,386,2021-01-27,4.99,1,249
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,50,2019-12-02,0.35,1,365
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76468,-73.98315,Private room,79,2,474,2020-09-25,3.31,1,343
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.85,1,0

In [3]:
NewYorkOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,100,30,48,2019-11-04,0.35,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,73,1,386,2021-01-27,4.99,1,249
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,50,2019-12-02,0.35,1,365
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76468,-73.98315,Private room,79,2,474,2020-09-25,3.31,1,343
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.85,1,0

In [4]:
NewYorkOriginal["City"] = "New York City,NY"

In [5]:
NewYork = NewYorkOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
NewYork.head()

,City,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,"New York City,NY",Jennifer,Midtown,40.75362,-73.98377,Entire home/apt,100,30,365
1,"New York City,NY",LisaRoxanne,Clinton Hill,40.68514,-73.95976,Entire home/apt,73,1,249
2,"New York City,NY",Garon,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,365
3,"New York City,NY",Shunichi,Midtown,40.76468,-73.98315,Private room,79,2,343
4,"New York City,NY",MaryEllen,Upper West Side,40.80178,-73.96723,Private room,75,2,0

In [6]:
OaklandOriginal = pd.read_csv('../Resources/Oakland.csv')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3083,Room #2 @ B-Love's Guest House,3518,Traci,NaN,Prescott,37.80832,-122.29300,Private room,38,3,38,2020-11-15,0.48,6,180
1,3264,Garden Suite - Heart of Temescal,3241,Rebecca,NaN,Temescal,37.83593,-122.26110,Private room,57,5,36,2018-08-07,0.25,2,87
2,5739,Mod Studio,9276,Leah And Gyorgy,NaN,Oakland Ave-Harrison St,37.81503,-122.26212,Entire home/apt,125,6,263,2021-02-06,1.86,1,58
3,23637,Share my Charming Home! (1 person or 1 couple ),93339,Mika,NaN,Montclair,37.82925,-122.20966,Private room,63,7,43,2020-03-20,0.32,1,326
4,24916,Rockridge Studio w/garden and Patio,98716,Judy,NaN,Piedmont Avenue,37.83326,-122.25033,Entire home/apt,92,30,112,2019-10-31,0.86,2,326

In [7]:
OaklandOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,3083,Room #2 @ B-Love's Guest House,3518,Traci,NaN,Prescott,37.80832,-122.29300,Private room,38,3,38,2020-11-15,0.48,6,180
1,3264,Garden Suite - Heart of Temescal,3241,Rebecca,NaN,Temescal,37.83593,-122.26110,Private room,57,5,36,2018-08-07,0.25,2,87
2,5739,Mod Studio,9276,Leah And Gyorgy,NaN,Oakland Ave-Harrison St,37.81503,-122.26212,Entire home/apt,125,6,263,2021-02-06,1.86,1,58
3,23637,Share my Charming Home! (1 person or 1 couple ),93339,Mika,NaN,Montclair,37.82925,-122.20966,Private room,63,7,43,2020-03-20,0.32,1,326
4,24916,Rockridge Studio w/garden and Patio,98716,Judy,NaN,Piedmont Avenue,37.83326,-122.25033,Entire home/apt,92,30,112,2019-10-31,0.86,2,326

In [8]:
OaklandOriginal["City"] = "Oakland,CA"

In [9]:
Oakland = OaklandOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
Oakland.head()

,City,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,"Oakland,CA",Traci,Prescott,37.80832,-122.29300,Private room,38,3,180
1,"Oakland,CA",Rebecca,Temescal,37.83593,-122.26110,Private room,57,5,87
2,"Oakland,CA",Leah And Gyorgy,Oakland Ave-Harrison St,37.81503,-122.26212,Entire home/apt,125,6,58
3,"Oakland,CA",Mika,Montclair,37.82925,-122.20966,Private room,63,7,326
4,"Oakland,CA",Judy,Piedmont Avenue,37.83326,-122.25033,Entire home/apt,92,30,326

In [10]:
PacificGroveOriginal = pd.read_csv('../Resources/Pacific Grove.csv')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,22772,Stay-Awhile at Lovers Pt. Pacific Grv,87827,Amie,NaN,Pacific Grove,36.62258,-121.91680,Entire home/apt,170,29,68,2016-08-01,0.52,1,55
1,41014,Ocean front 6-bedroom masterpiece,174738,Kirstie,NaN,Pacific Grove,36.63242,-121.93791,Entire home/apt,1200,3,102,2021-02-23,0.86,1,14
2,44515,Pet-Friendly* Cottage Near Beach for 30+ day s...,195732,Erika & Blake,NaN,Pacific Grove,36.62475,-121.93491,Entire home/apt,188,30,954,2021-01-31,7.44,1,105
3,1031734,"Top Rated,Ocean View,Spa,Fireplace",227482,Dan,NaN,Pacific Grove,36.60324,-121.92723,Entire home/apt,350,30,236,2020-05-17,2.49,1,181
4,1721177,Ocean View Townhome at Lover's Pt.,9073236,Barb,NaN,Pacific Grove,36.62367,-121.91559,Entire home/apt,225,30,249,2020-12-05,2.77,2,152

In [11]:
PacificGroveOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,22772,Stay-Awhile at Lovers Pt. Pacific Grv,87827,Amie,NaN,Pacific Grove,36.62258,-121.91680,Entire home/apt,170,29,68,2016-08-01,0.52,1,55
1,41014,Ocean front 6-bedroom masterpiece,174738,Kirstie,NaN,Pacific Grove,36.63242,-121.93791,Entire home/apt,1200,3,102,2021-02-23,0.86,1,14
2,44515,Pet-Friendly* Cottage Near Beach for 30+ day s...,195732,Erika & Blake,NaN,Pacific Grove,36.62475,-121.93491,Entire home/apt,188,30,954,2021-01-31,7.44,1,105
3,1031734,"Top Rated,Ocean View,Spa,Fireplace",227482,Dan,NaN,Pacific Grove,36.60324,-121.92723,Entire home/apt,350,30,236,2020-05-17,2.49,1,181
4,1721177,Ocean View Townhome at Lover's Pt.,9073236,Barb,NaN,Pacific Grove,36.62367,-121.91559,Entire home/apt,225,30,249,2020-12-05,2.77,2,152

In [12]:
PacificGroveOriginal["City"] = "Pacific Grove,CA"

In [13]:
PacificGrove = PacificGroveOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
PacificGrove.head()

,City,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,"Pacific Grove,CA",Amie,Pacific Grove,36.62258,-121.91680,Entire home/apt,170,29,55
1,"Pacific Grove,CA",Kirstie,Pacific Grove,36.63242,-121.93791,Entire home/apt,1200,3,14
2,"Pacific Grove,CA",Erika & Blake,Pacific Grove,36.62475,-121.93491,Entire home/apt,188,30,105
3,"Pacific Grove,CA",Dan,Pacific Grove,36.60324,-121.92723,Entire home/apt,350,30,181
4,"Pacific Grove,CA",Barb,Pacific Grove,36.62367,-121.91559,Entire home/apt,225,30,152

In [14]:
PortlandOriginal = pd.read_csv('../Resources/Portland.csv')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,12899,"Alberta Arts 2 bedroom suite, charming 1906 house",49682,Ali And David,NaN,Concordia,45.56488,-122.63418,Entire home/apt,70,2,555,2021-02-15,4.11,1,304
1,18130,Charming Roseway Bungalow,69824,Katie,NaN,Roseway,45.55342,-122.58002,Entire home/apt,80,3,2,2020-11-30,0.67,1,2
2,29931,Lovely SW Victorian w/Bonus Room and Hot Tub,79786,Ken,NaN,Hayhurst,45.48278,-122.72089,Entire home/apt,200,2,53,2019-08-31,0.41,3,232
3,37676,Mt. Hood View in the Pearl District,162158,Paul,NaN,Pearl,45.52555,-122.68193,Entire home/apt,100,30,124,2021-02-06,0.96,1,365
4,41601,Grandpa's Bunkhouse-Backyard Studio,179045,Jean,NaN,Roseway,45.54935,-122.58425,Entire home/apt,169,3,227,2021-02-17,1.77,2,359

In [15]:
PortlandOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,12899,"Alberta Arts 2 bedroom suite, charming 1906 house",49682,Ali And David,NaN,Concordia,45.56488,-122.63418,Entire home/apt,70,2,555,2021-02-15,4.11,1,304
1,18130,Charming Roseway Bungalow,69824,Katie,NaN,Roseway,45.55342,-122.58002,Entire home/apt,80,3,2,2020-11-30,0.67,1,2
2,29931,Lovely SW Victorian w/Bonus Room and Hot Tub,79786,Ken,NaN,Hayhurst,45.48278,-122.72089,Entire home/apt,200,2,53,2019-08-31,0.41,3,232
3,37676,Mt. Hood View in the Pearl District,162158,Paul,NaN,Pearl,45.52555,-122.68193,Entire home/apt,100,30,124,2021-02-06,0.96,1,365
4,41601,Grandpa's Bunkhouse-Backyard Studio,179045,Jean,NaN,Roseway,45.54935,-122.58425,Entire home/apt,169,3,227,2021-02-17,1.77,2,359

In [16]:
PortlandOriginal["City"] = "Portland,OR"

In [17]:
Portland = PortlandOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
Portland.head()

,City,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,"Portland,OR",Ali And David,Concordia,45.56488,-122.63418,Entire home/apt,70,2,304
1,"Portland,OR",Katie,Roseway,45.55342,-122.58002,Entire home/apt,80,3,2
2,"Portland,OR",Ken,Hayhurst,45.48278,-122.72089,Entire home/apt,200,2,232
3,"Portland,OR",Paul,Pearl,45.52555,-122.68193,Entire home/apt,100,30,365
4,"Portland,OR",Jean,Roseway,45.54935,-122.58425,Entire home/apt,169,3,359

In [18]:
RhodeIslandOriginal = pd.read_csv('../Resources/Rhode Island.csv')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,10262,Secluded 1750's home on 46 acres,35244,Paula,Providence,Glocester,41.86617,-71.72344,Private room,65,1,37,2017-08-31,0.44,1,0
1,15373,Adorable Beach Cottage Scarborough Beach RI,60209,Brian,Washington,Narragansett,41.39375,-71.47447,Entire home/apt,100,7,3,2020-08-28,0.40,1,35
2,50817,Sanctuary in the Suburbs,233965,Nancy,Providence,Pawtucket,41.88613,-71.35373,Entire home/apt,76,2,148,2021-01-31,1.17,1,303
3,51583,Bedroom In a large Victorian Home,237379,Chip,Providence,Providence,41.81244,-71.42076,Private room,58,1,372,2020-08-03,2.95,8,89
4,55464,Waterfront Narrow River Rent as of 5/1/21 kay...,262000,Kathy,Washington,South Kingstown,41.46965,-71.44939,Entire home/apt,295,7,88,2019-12-15,0.83,1,259

In [19]:
RhodeIslandOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,10262,Secluded 1750's home on 46 acres,35244,Paula,Providence,Glocester,41.86617,-71.72344,Private room,65,1,37,2017-08-31,0.44,1,0
1,15373,Adorable Beach Cottage Scarborough Beach RI,60209,Brian,Washington,Narragansett,41.39375,-71.47447,Entire home/apt,100,7,3,2020-08-28,0.40,1,35
2,50817,Sanctuary in the Suburbs,233965,Nancy,Providence,Pawtucket,41.88613,-71.35373,Entire home/apt,76,2,148,2021-01-31,1.17,1,303
3,51583,Bedroom In a large Victorian Home,237379,Chip,Providence,Providence,41.81244,-71.42076,Private room,58,1,372,2020-08-03,2.95,8,89
4,55464,Waterfront Narrow River Rent as of 5/1/21 kay...,262000,Kathy,Washington,South Kingstown,41.46965,-71.44939,Entire home/apt,295,7,88,2019-12-15,0.83,1,259

In [20]:
RhodeIslandOriginal["City"] = "Rhode Island,RI"

In [21]:
RhodeIsland = RhodeIslandOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
RhodeIsland.head()

,City,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,"Rhode Island,RI",Paula,Glocester,41.86617,-71.72344,Private room,65,1,0
1,"Rhode Island,RI",Brian,Narragansett,41.39375,-71.47447,Entire home/apt,100,7,35
2,"Rhode Island,RI",Nancy,Pawtucket,41.88613,-71.35373,Entire home/apt,76,2,303
3,"Rhode Island,RI",Chip,Providence,41.81244,-71.42076,Private room,58,1,89
4,"Rhode Island,RI",Kathy,South Kingstown,41.46965,-71.44939,Entire home/apt,295,7,259

In [22]:
SalemOriginal = pd.read_csv('../Resources/Salem.csv')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,1159564,SOLAR ECLIPSE - A,2185672,Roberta,NaN,Ward 3,44.88416,-123.04341,Private room,175,2,2,2013-08-30,0.02,1,365
1,2894591,Quiet and cozy home in South Salem.,14613038,Sue,NaN,Ward 7,44.90754,-123.07688,Private room,50,1,192,2020-07-22,2.36,2,296
2,3454856,Quiet and cozy home in South Salem,14613038,Sue,NaN,Ward 7,44.90781,-123.07676,Private room,50,1,2,2014-09-06,0.02,2,0
3,4394073,Warm and Welcoming in Downtown.,22810342,Michael,NaN,Ward 1,44.94813,-123.02229,Private room,47,2,107,2020-11-27,1.40,2,265
4,4785215,Century House Doug Fir Room,10502090,Jean,NaN,Ward 2,44.93448,-123.02103,Private room,89,2,84,2020-10-11,1.13,3,364

In [23]:
SalemOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,1159564,SOLAR ECLIPSE - A,2185672,Roberta,NaN,Ward 3,44.88416,-123.04341,Private room,175,2,2,2013-08-30,0.02,1,365
1,2894591,Quiet and cozy home in South Salem.,14613038,Sue,NaN,Ward 7,44.90754,-123.07688,Private room,50,1,192,2020-07-22,2.36,2,296
2,3454856,Quiet and cozy home in South Salem,14613038,Sue,NaN,Ward 7,44.90781,-123.07676,Private room,50,1,2,2014-09-06,0.02,2,0
3,4394073,Warm and Welcoming in Downtown.,22810342,Michael,NaN,Ward 1,44.94813,-123.02229,Private room,47,2,107,2020-11-27,1.40,2,265
4,4785215,Century House Doug Fir Room,10502090,Jean,NaN,Ward 2,44.93448,-123.02103,Private room,89,2,84,2020-10-11,1.13,3,364

In [24]:
SalemOriginal["City"] = "Salem,OR"

In [25]:
Salem = SalemOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
Salem.head()

,City,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,"Salem,OR",Roberta,Ward 3,44.88416,-123.04341,Private room,175,2,365
1,"Salem,OR",Sue,Ward 7,44.90754,-123.07688,Private room,50,1,296
2,"Salem,OR",Sue,Ward 7,44.90781,-123.07676,Private room,50,1,0
3,"Salem,OR",Michael,Ward 1,44.94813,-123.02229,Private room,47,2,265
4,"Salem,OR",Jean,Ward 2,44.93448,-123.02103,Private room,89,2,364

In [26]:
SanDiegoOriginal = pd.read_csv('../Resources/San Diego.csv')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,5570,Ocean front condo on the sand,8435,Jef Karchin,NaN,Mission Bay,32.78430,-117.25258,Entire home/apt,2050,3,0,NaN,NaN,3,242
1,29967,"Great home, 10 min walk to Beach",129123,Michael,NaN,Pacific Beach,32.80724,-117.25630,Entire home/apt,225,4,62,2020-11-29,0.48,5,267
2,38245,Point Loma: Den downstairs,164137,Melinda,NaN,Roseville,32.74202,-117.21870,Private room,74,1,143,2019-10-20,1.12,3,294
3,54001,"La Jolla 2 Bdr Cottage: 1 Qn; 2Twns, Blks 2 Ocn",252692,Marsha,NaN,La Jolla,32.81301,-117.26856,Entire home/apt,80,4,248,2021-01-30,2.01,2,55
4,62274,"charming, colorful, close to beach",302986,Isabel,NaN,Pacific Beach,32.80734,-117.24243,Entire home/apt,73,1,629,2021-02-06,5.05,2,321

In [27]:
SanDiegoOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,5570,Ocean front condo on the sand,8435,Jef Karchin,NaN,Mission Bay,32.78430,-117.25258,Entire home/apt,2050,3,0,NaN,NaN,3,242
1,29967,"Great home, 10 min walk to Beach",129123,Michael,NaN,Pacific Beach,32.80724,-117.25630,Entire home/apt,225,4,62,2020-11-29,0.48,5,267
2,38245,Point Loma: Den downstairs,164137,Melinda,NaN,Roseville,32.74202,-117.21870,Private room,74,1,143,2019-10-20,1.12,3,294
3,54001,"La Jolla 2 Bdr Cottage: 1 Qn; 2Twns, Blks 2 Ocn",252692,Marsha,NaN,La Jolla,32.81301,-117.26856,Entire home/apt,80,4,248,2021-01-30,2.01,2,55
4,62274,"charming, colorful, close to beach",302986,Isabel,NaN,Pacific Beach,32.80734,-117.24243,Entire home/apt,73,1,629,2021-02-06,5.05,2,321

In [28]:
SanDiegoOriginal["City"] = "San Diego,CA"

In [29]:
SanDiego = SanDiegoOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
SanDiego.head()

,City,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,"San Diego,CA",Jef Karchin,Mission Bay,32.78430,-117.25258,Entire home/apt,2050,3,242
1,"San Diego,CA",Michael,Pacific Beach,32.80724,-117.25630,Entire home/apt,225,4,267
2,"San Diego,CA",Melinda,Roseville,32.74202,-117.21870,Private room,74,1,294
3,"San Diego,CA",Marsha,La Jolla,32.81301,-117.26856,Entire home/apt,80,4,55
4,"San Diego,CA",Isabel,Pacific Beach,32.80734,-117.24243,Entire home/apt,73,1,321

In [30]:
SanFranciscoOriginal = pd.read_csv('../Resources/San Francisco.csv')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,958,"Bright, Modern Garden Unit - 1BR/1BTH",1169,Holly,NaN,Western Addition,37.77028,-122.43317,Entire home/apt,130,2,276,2021-02-07,1.95,1,137
1,5858,Creative Sanctuary,8904,Philip And Tania,NaN,Bernal Heights,37.74511,-122.42102,Entire home/apt,195,30,111,2017-08-06,0.77,1,365
2,7918,A Friendly Room - UCSF/USF - San Francisco,21994,Aaron,NaN,Haight Ashbury,37.76555,-122.45213,Private room,56,32,19,2020-03-06,0.14,8,365
3,8142,Friendly Room Apt. Style -UCSF/USF - San Franc...,21994,Aaron,NaN,Haight Ashbury,37.76555,-122.45213,Private room,56,32,8,2018-09-12,0.10,8,365
4,8339,Historic Alamo Square Victorian,24215,Rosy,NaN,Western Addition,37.77525,-122.43637,Entire home/apt,799,5,28,2019-06-28,0.20,2,365

In [31]:
SanFranciscoOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,958,"Bright, Modern Garden Unit - 1BR/1BTH",1169,Holly,NaN,Western Addition,37.77028,-122.43317,Entire home/apt,130,2,276,2021-02-07,1.95,1,137
1,5858,Creative Sanctuary,8904,Philip And Tania,NaN,Bernal Heights,37.74511,-122.42102,Entire home/apt,195,30,111,2017-08-06,0.77,1,365
2,7918,A Friendly Room - UCSF/USF - San Francisco,21994,Aaron,NaN,Haight Ashbury,37.76555,-122.45213,Private room,56,32,19,2020-03-06,0.14,8,365
3,8142,Friendly Room Apt. Style -UCSF/USF - San Franc...,21994,Aaron,NaN,Haight Ashbury,37.76555,-122.45213,Private room,56,32,8,2018-09-12,0.10,8,365
4,8339,Historic Alamo Square Victorian,24215,Rosy,NaN,Western Addition,37.77525,-122.43637,Entire home/apt,799,5,28,2019-06-28,0.20,2,365

In [32]:
SanFranciscoOriginal["City"] = "San Francisco,CA"

In [33]:
SanFrancisco = SanFranciscoOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
SanFrancisco.head()

,City,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,"San Francisco,CA",Holly,Western Addition,37.77028,-122.43317,Entire home/apt,130,2,137
1,"San Francisco,CA",Philip And Tania,Bernal Heights,37.74511,-122.42102,Entire home/apt,195,30,365
2,"San Francisco,CA",Aaron,Haight Ashbury,37.76555,-122.45213,Private room,56,32,365
3,"San Francisco,CA",Aaron,Haight Ashbury,37.76555,-122.45213,Private room,56,32,365
4,"San Francisco,CA",Rosy,Western Addition,37.77525,-122.43637,Entire home/apt,799,5,365

In [34]:
SanMateoCountyOriginal = pd.read_csv('../Resources/San Mateo County.csv')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,12651,Private entrance/walk to Stanford,49735,Laurel,NaN,Menlo Park,37.43118,-122.19654,Entire home/apt,197,3,152,2021-01-12,1.12,3,311
1,39342,"Palm Tree Cottage, Pacifica",127367,Annette,NaN,Pacifica,37.63144,-122.48825,Entire home/apt,120,30,2,2018-07-01,0.02,2,365
2,40560,MOST COMFORTABLE BED EVER,174725,Megan,NaN,East Palo Alto,37.45528,-122.13829,Private room,110,1,133,2019-11-21,1.05,2,365
3,44504,"Burlingame 1 bed, & lounge apartment, close SFO",195645,Maggie,NaN,Burlingame,37.58774,-122.36622,Entire home/apt,210,3,149,2020-01-31,1.18,2,0
4,45287,The Garden Cottage-a secluded nature retreat,200479,Diane And Mike,NaN,Burlingame,37.57913,-122.34063,Entire home/apt,135,3,258,2021-01-04,2.05,1,180

In [35]:
SanMateoCountyOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,12651,Private entrance/walk to Stanford,49735,Laurel,NaN,Menlo Park,37.43118,-122.19654,Entire home/apt,197,3,152,2021-01-12,1.12,3,311
1,39342,"Palm Tree Cottage, Pacifica",127367,Annette,NaN,Pacifica,37.63144,-122.48825,Entire home/apt,120,30,2,2018-07-01,0.02,2,365
2,40560,MOST COMFORTABLE BED EVER,174725,Megan,NaN,East Palo Alto,37.45528,-122.13829,Private room,110,1,133,2019-11-21,1.05,2,365
3,44504,"Burlingame 1 bed, & lounge apartment, close SFO",195645,Maggie,NaN,Burlingame,37.58774,-122.36622,Entire home/apt,210,3,149,2020-01-31,1.18,2,0
4,45287,The Garden Cottage-a secluded nature retreat,200479,Diane And Mike,NaN,Burlingame,37.57913,-122.34063,Entire home/apt,135,3,258,2021-01-04,2.05,1,180

In [36]:
SanMateoCountyOriginal["City"] = "San Mateo County,CA"

In [37]:
SanMateoCounty = SanMateoCountyOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
SanMateoCounty.head()

,City,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,"San Mateo County,CA",Laurel,Menlo Park,37.43118,-122.19654,Entire home/apt,197,3,311
1,"San Mateo County,CA",Annette,Pacifica,37.63144,-122.48825,Entire home/apt,120,30,365
2,"San Mateo County,CA",Megan,East Palo Alto,37.45528,-122.13829,Private room,110,1,365
3,"San Mateo County,CA",Maggie,Burlingame,37.58774,-122.36622,Entire home/apt,210,3,0
4,"San Mateo County,CA",Diane And Mike,Burlingame,37.57913,-122.34063,Entire home/apt,135,3,180

In [38]:
SantaClaraCountyOriginal = pd.read_csv('../Resources/Santa Clara County.csv')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,11464,Deluxe Studio 5 min. to SC Kaiser & Apple Park,42458,Emey,NaN,Santa Clara,37.34342,-121.98829,Entire home/apt,75,4,8,2021-01-17,0.10,17,149
1,21373,Bonsai Garden Inn in Professorville,7054,Mei Lin,NaN,Palo Alto,37.44001,-122.15667,Private room,80,2,264,2020-03-14,2.02,4,226
2,37512,Private room - Parking 3 carport,161741,Maria,NaN,San Jose,37.30598,-121.84036,Private room,48,1,183,2017-03-14,1.42,2,236
3,52786,Cozy Room in A Quiet Community,161741,Maria,NaN,San Jose,37.30521,-121.84149,Private room,50,1,478,2020-03-11,3.80,2,236
4,62799,Zen Office and Sofa in Palo Alto,7054,Mei Lin,NaN,Palo Alto,37.43925,-122.15617,Private room,100,7,148,2020-03-18,1.81,4,225

In [39]:
SantaClaraCountyOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,11464,Deluxe Studio 5 min. to SC Kaiser & Apple Park,42458,Emey,NaN,Santa Clara,37.34342,-121.98829,Entire home/apt,75,4,8,2021-01-17,0.10,17,149
1,21373,Bonsai Garden Inn in Professorville,7054,Mei Lin,NaN,Palo Alto,37.44001,-122.15667,Private room,80,2,264,2020-03-14,2.02,4,226
2,37512,Private room - Parking 3 carport,161741,Maria,NaN,San Jose,37.30598,-121.84036,Private room,48,1,183,2017-03-14,1.42,2,236
3,52786,Cozy Room in A Quiet Community,161741,Maria,NaN,San Jose,37.30521,-121.84149,Private room,50,1,478,2020-03-11,3.80,2,236
4,62799,Zen Office and Sofa in Palo Alto,7054,Mei Lin,NaN,Palo Alto,37.43925,-122.15617,Private room,100,7,148,2020-03-18,1.81,4,225

In [40]:
SantaClaraCountyOriginal["City"] = "Santa Clara County,CA"

In [41]:
SantaClaraCounty = SantaClaraCountyOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
SantaClaraCounty.head()

,City,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,"Santa Clara County,CA",Emey,Santa Clara,37.34342,-121.98829,Entire home/apt,75,4,149
1,"Santa Clara County,CA",Mei Lin,Palo Alto,37.44001,-122.15667,Private room,80,2,226
2,"Santa Clara County,CA",Maria,San Jose,37.30598,-121.84036,Private room,48,1,236
3,"Santa Clara County,CA",Maria,San Jose,37.30521,-121.84149,Private room,50,1,236
4,"Santa Clara County,CA",Mei Lin,Palo Alto,37.43925,-122.15617,Private room,100,7,225

In [42]:
SantaCruzCountyOriginal = pd.read_csv('../Resources/Santa Cruz County.csv')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,11879,Sunny room close to beach and parks,44764,Steven,NaN,Unincorporated Areas,36.98186,-121.88114,Private room,75,2,60,2021-02-24,0.47,3,169
1,24548,Room with Private Entrance.,99532,Kerstin,NaN,City of Santa Cruz,36.97167,-121.99774,Private room,100,2,479,2020-11-23,3.63,1,0
2,31721,Dog Friendly Private Pleasure Point Beach Cottage,136376,Annie,NaN,City of Capitola,36.95849,-121.97207,Entire home/apt,179,4,222,2021-01-31,2.21,2,1
3,43785,Guest bedroom in Victorian home,191477,Caroline,NaN,City of Santa Cruz,36.97694,-122.03600,Private room,85,2,446,2021-02-07,3.49,1,332
4,49520,Guest Cottage with shared bath,225721,Christine,NaN,Unincorporated Areas,36.96325,-121.82091,Private room,95,30,145,2018-09-15,1.23,2,0

In [43]:
SantaCruzCountyOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)
SantaCruzCountyOriginal.head()

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,11879,Sunny room close to beach and parks,44764,Steven,NaN,Unincorporated Areas,36.98186,-121.88114,Private room,75,2,60,2021-02-24,0.47,3,169
1,24548,Room with Private Entrance.,99532,Kerstin,NaN,City of Santa Cruz,36.97167,-121.99774,Private room,100,2,479,2020-11-23,3.63,1,0
2,31721,Dog Friendly Private Pleasure Point Beach Cottage,136376,Annie,NaN,City of Capitola,36.95849,-121.97207,Entire home/apt,179,4,222,2021-01-31,2.21,2,1
3,43785,Guest bedroom in Victorian home,191477,Caroline,NaN,City of Santa Cruz,36.97694,-122.03600,Private room,85,2,446,2021-02-07,3.49,1,332
4,49520,Guest Cottage with shared bath,225721,Christine,NaN,Unincorporated Areas,36.96325,-121.82091,Private room,95,30,145,2018-09-15,1.23,2,0

In [44]:
SantaCruzCountyOriginal["City"] = "Santa Cruz County,CA"

In [45]:
SantaCruzCounty = SantaCruzCountyOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
SantaCruzCounty.head()

,City,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,"Santa Cruz County,CA",Steven,Unincorporated Areas,36.98186,-121.88114,Private room,75,2,169
1,"Santa Cruz County,CA",Kerstin,City of Santa Cruz,36.97167,-121.99774,Private room,100,2,0
2,"Santa Cruz County,CA",Annie,City of Capitola,36.95849,-121.97207,Entire home/apt,179,4,1
3,"Santa Cruz County,CA",Caroline,City of Santa Cruz,36.97694,-122.03600,Private room,85,2,332
4,"Santa Cruz County,CA",Christine,Unincorporated Areas,36.96325,-121.82091,Private room,95,30,0

In [46]:
SeattleOriginal = pd.read_csv('../Resources/Seattle.csv')
SeattleOriginal.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,Entire home/apt,296,30,32,2020-02-01,0.21,1,107
1,9419,Glorious sun room w/ memory foambed,30559,Angielena,Other neighborhoods,Georgetown,47.55017,-122.31937,Private room,55,2,148,2019-12-27,1.15,7,328
2,9531,The Adorable Sweet Orange Craftsman,31481,Cassie,West Seattle,Fairmount Park,47.55539,-122.38474,Entire home/apt,155,30,41,2020-11-26,0.37,2,327
3,9534,The Coolest Tangerine Dream MIL!,31481,Cassie,West Seattle,Fairmount Park,47.55624,-122.38598,Entire home/apt,125,30,55,2020-12-28,0.50,2,204
4,9596,"the down home , spacious, central and fab!",14942,Joyce,Other neighborhoods,Wallingford,47.65479,-122.33652,Entire home/apt,100,4,97,2020-09-28,0.82,2,31

In [47]:
SeattleOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)
SeattleOriginal.head()

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,Entire home/apt,296,30,32,2020-02-01,0.21,1,107
1,9419,Glorious sun room w/ memory foambed,30559,Angielena,Other neighborhoods,Georgetown,47.55017,-122.31937,Private room,55,2,148,2019-12-27,1.15,7,328
2,9531,The Adorable Sweet Orange Craftsman,31481,Cassie,West Seattle,Fairmount Park,47.55539,-122.38474,Entire home/apt,155,30,41,2020-11-26,0.37,2,327
3,9534,The Coolest Tangerine Dream MIL!,31481,Cassie,West Seattle,Fairmount Park,47.55624,-122.38598,Entire home/apt,125,30,55,2020-12-28,0.50,2,204
4,9596,"the down home , spacious, central and fab!",14942,Joyce,Other neighborhoods,Wallingford,47.65479,-122.33652,Entire home/apt,100,4,97,2020-09-28,0.82,2,31

In [48]:
SeattleOriginal["City"] = "Seattle,WA"

In [49]:
Seattle = SeattleOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
Seattle.head()

,City,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,"Seattle,WA",Megan,Madrona,47.61082,-122.29082,Entire home/apt,296,30,107
1,"Seattle,WA",Angielena,Georgetown,47.55017,-122.31937,Private room,55,2,328
2,"Seattle,WA",Cassie,Fairmount Park,47.55539,-122.38474,Entire home/apt,155,30,327
3,"Seattle,WA",Cassie,Fairmount Park,47.55624,-122.38598,Entire home/apt,125,30,204
4,"Seattle,WA",Joyce,Wallingford,47.65479,-122.33652,Entire home/apt,100,4,31

In [50]:
TwinCitiesOriginal = pd.read_csv('../Resources/Twin Cities.csv')
TwinCitiesOriginal.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2441,"Cozy Artist’s Abode, NE Mpls - Pets, Wifi, Rok...",2680,Emily,NaN,Hennepin,45.00886,-93.23407,Entire home/apt,85,1,255,2021-02-15,1.85,2,0
1,4534,"Charming, 1 or 2BR + private bath, near downtown",5811,Rachel,NaN,Hennepin,44.94566,-93.35721,Private room,49,2,166,2020-03-17,1.27,1,363
2,27319,"Parks, Lakes, Downtown, Light rail",117283,Keith,NaN,Hennepin,44.91878,-93.23038,Private room,50,2,174,2020-10-04,1.38,2,364
3,55089,"Minneapolis/Edina ""Cabin"" on Creek",238546,Leslie,NaN,Hennepin,44.91985,-93.35141,Entire home/apt,160,7,35,2021-01-01,0.33,2,235
4,60977,Attic Loft with organic breakfast,294621,Habib,NaN,Ramsey,44.94800,-93.19037,Entire home/apt,65,3,20,2016-08-07,0.17,1,235

In [51]:
TwinCitiesOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)
TwinCitiesOriginal.head()

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,2441,"Cozy Artist’s Abode, NE Mpls - Pets, Wifi, Rok...",2680,Emily,NaN,Hennepin,45.00886,-93.23407,Entire home/apt,85,1,255,2021-02-15,1.85,2,0
1,4534,"Charming, 1 or 2BR + private bath, near downtown",5811,Rachel,NaN,Hennepin,44.94566,-93.35721,Private room,49,2,166,2020-03-17,1.27,1,363
2,27319,"Parks, Lakes, Downtown, Light rail",117283,Keith,NaN,Hennepin,44.91878,-93.23038,Private room,50,2,174,2020-10-04,1.38,2,364
3,55089,"Minneapolis/Edina ""Cabin"" on Creek",238546,Leslie,NaN,Hennepin,44.91985,-93.35141,Entire home/apt,160,7,35,2021-01-01,0.33,2,235
4,60977,Attic Loft with organic breakfast,294621,Habib,NaN,Ramsey,44.94800,-93.19037,Entire home/apt,65,3,20,2016-08-07,0.17,1,235

In [52]:
TwinCitiesOriginal["City"] = "Twin Cities,MN"

In [53]:
TwinCities = TwinCitiesOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
TwinCities.head()

,City,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,"Twin Cities,MN",Emily,Hennepin,45.00886,-93.23407,Entire home/apt,85,1,0
1,"Twin Cities,MN",Rachel,Hennepin,44.94566,-93.35721,Private room,49,2,363
2,"Twin Cities,MN",Keith,Hennepin,44.91878,-93.23038,Private room,50,2,364
3,"Twin Cities,MN",Leslie,Hennepin,44.91985,-93.35141,Entire home/apt,160,7,235
4,"Twin Cities,MN",Habib,Ramsey,44.94800,-93.19037,Entire home/apt,65,3,235

In [54]:
WashingtonDCOriginal = pd.read_csv('../Resources/Washington D.C..csv')
WashingtonDCOriginal.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3686,Vita's Hideaway,4645,Vita,NaN,Historic Anacostia,38.86177,-76.98966,Private room,55,2,75,2021-01-12,0.60,2,365
1,3943,Historic Rowhouse Near Monuments,5059,Vasa,NaN,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.91066,-77.00438,Private room,70,2,429,2018-08-07,2.99,2,365
2,4197,Bedroom in DC 2 blocks to Metro,5061,Sandra,NaN,"Capitol Hill, Lincoln Park",38.88791,-76.99668,Private room,80,28,45,2020-03-14,0.31,2,263
3,4529,Bertina's House Part One,5803,Bertina'S House,NaN,"Eastland Gardens, Kenilworth",38.90645,-76.94305,Private room,54,30,102,2019-07-05,0.73,1,84
4,4967,"DC, Near Metro",7086,Seveer,NaN,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.91409,-76.99368,Private room,99,2,31,2016-09-22,0.25,3,233

In [55]:
WashingtonDCOriginal.rename(columns = {
    'host_name':'Host Name',
    'neighbourhood': 'Neighbourhood',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'room_type': 'Room Type',
    'price': 'Price',
    'minimum_nights': 'Minimum Nights',
    'availability_365': 'Availability 365'}, inplace = True)
WashingtonDCOriginal.head()

,id,name,host_id,Host Name,neighbourhood_group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,Availability 365
0,3686,Vita's Hideaway,4645,Vita,NaN,Historic Anacostia,38.86177,-76.98966,Private room,55,2,75,2021-01-12,0.60,2,365
1,3943,Historic Rowhouse Near Monuments,5059,Vasa,NaN,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.91066,-77.00438,Private room,70,2,429,2018-08-07,2.99,2,365
2,4197,Bedroom in DC 2 blocks to Metro,5061,Sandra,NaN,"Capitol Hill, Lincoln Park",38.88791,-76.99668,Private room,80,28,45,2020-03-14,0.31,2,263
3,4529,Bertina's House Part One,5803,Bertina'S House,NaN,"Eastland Gardens, Kenilworth",38.90645,-76.94305,Private room,54,30,102,2019-07-05,0.73,1,84
4,4967,"DC, Near Metro",7086,Seveer,NaN,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.91409,-76.99368,Private room,99,2,31,2016-09-22,0.25,3,233

In [56]:
WashingtonDCOriginal["City"] = "Washington,DC"

In [57]:
WashingtonDC = WashingtonDCOriginal[['City','Host Name','Neighbourhood','Latitude','Longitude','Room Type','Price','Minimum Nights','Availability 365']]
WashingtonDC.head()

,City,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,"Washington,DC",Vita,Historic Anacostia,38.86177,-76.98966,Private room,55,2,365
1,"Washington,DC",Vasa,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.91066,-77.00438,Private room,70,2,365
2,"Washington,DC",Sandra,"Capitol Hill, Lincoln Park",38.88791,-76.99668,Private room,80,28,263
3,"Washington,DC",Bertina'S House,"Eastland Gardens, Kenilworth",38.90645,-76.94305,Private room,54,30,84
4,"Washington,DC",Seveer,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.91409,-76.99368,Private room,99,2,233

In [59]:
USAirbnb = pd.concat([NewYork, Oakland, PacificGrove, Portland, RhodeIsland, Salem, SanDiego, SanFrancisco, SanMateoCounty, SantaClaraCounty, SantaCruzCounty, Seattle, TwinCities, WashingtonDC])
USAirbnb.head(20)

,City,Host Name,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Availability 365
0,"New York City,NY",Jennifer,Midtown,40.75362,-73.98377,Entire home/apt,100,30,365
1,"New York City,NY",LisaRoxanne,Clinton Hill,40.68514,-73.95976,Entire home/apt,73,1,249
2,"New York City,NY",Garon,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,365
3,"New York City,NY",Shunichi,Midtown,40.76468,-73.98315,Private room,79,2,343
4,"New York City,NY",MaryEllen,Upper West Side,40.80178,-73.96723,Private room,75,2,0
5,"New York City,NY",Laurie,South Slope,40.66829,-73.98779,Private room,83,4,365
6,"New York City,NY",Allen & Irina,Williamsburg,40.70837,-73.95352,Entire home/apt,109,30,309
7,"New York City,NY",Kae,East Harlem,40.80139,-73.94244,Private room,65,30,365
8,"New York City,NY",Cyn,East Harlem,40.78962,-73.94802,Private room,62,30,365
9,"New York City,NY",Jane,Fort Greene,40.69121,-73.97277,Entire home/apt,199,2,337
10,"New York City,NY",Sing,East Harlem,40.79685,-73.94872,Private room,96,30,178
11,"New York City,NY",Chaya,Williamsburg,40.71842,-73.95718,Entire home/apt,299,30,1
12,"New York City,NY",Nathalie,Bedford-Stuyvesant,40.68371,-73.94028,Entire home/apt,120,2,350
13,"New York City,NY",Tommi,Hell's Kitchen,40.76715,-73.98533,Entire home/apt,150,30,35
14,"New York City,NY",Dana,East Village,40.72920,-73.98542,Entire home/apt,150,10,74
15,"New York City,NY",Teri,Harlem,40.81305,-73.95466,Private room,55,30,365
16,"New York City,NY",Angela,Bedford-Stuyvesant,40.68310,-73.95473,Private room,70,30,365
17,"New York City,NY",Laurie,South Slope,40.66869,-73.98780,Private room,83,4,365
18,"New York City,NY",Harriet,Flatbush,40.63702,-73.96327,Private room,150,30,0
19,"New York City,NY",Edward,East Village,40.72290,-73.98199,Private room,40,2,249

In [60]:
USAirbnb.to_csv('USCityAirbnb.csv')